#box1, #box2, #box3, #box4 {
    display: none;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}

/* Mobile First Method */
 
/* Extra Small Devices, Old Phones */ 
/* @media only screen and (min-width : 320px) {
    
} */
 
/* Small Devices, Phones  */
@media only screen and (min-width : 480px) and (max-width: 767px) {
    #box1 {
        display: block;
        background-color: yellow;
        color: black;
    }
}
 
/* Medium Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 991px) {
    #box2 {
        display: block;
        background-color: orange;
        color: black;
    }
}
 
/* Large Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width: 1199px) {
    #box3 {
        display: block;
        background-color: red;
        color: black;
    }
}
 
/* Extra Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #box4 {
        display: block;
        background-color: darkred;
        color: black;
    }
}

/* Non-Mobile First Method */
 
/* Extra Small Devices, Old Phones */ 
/* @media only screen and (min-width : 320px) {
    
} */

/* Extra Large Devices, Wide Screens */
/* @media only screen and (max-width : 1200px) {
    #box4 {
        display: block;
        background-color: darkred;
        color: black;
    }
} */

/* Large Devices, Desktops */
/* @media only screen and (max-width : 992px) {
    #box3 {
        display: block;
        background-color: red;
        color: black;
    }
} */

/* Medium Devices, Tablets */
/* @media only screen and (max-width : 768px) {
    #box2 {
        display: block;
        background-color: orange;
        color: black;
    }
} */

/* Small Devices, Phones */ 
/* @media only screen and (max-width : 480px) {
    #box1 {
        display: block;
        background-color: yellow;
        color: black;
    }
} */